

body{
    background-color: red;
}

header{
    background-color: maroon;
    height: auto;
}

nav{
    display: block;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{

}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer{
    background-color: maroon;
    text-align: center;
}

small{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}